:root {
  --primary-color: #f8f9fa;
  --secondary-color: #000814;
  --accent-color: #003566;
}

[data-theme="dark"] {
  --primary-color: #000814;
  --secondary-color: #f8f9fa;
  --accent-color: #003566;
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$accent-color: var(--accent-color);
