@import "../../styles/variables.scss";

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--secondary-color);

  img:hover {
    filter: brightness(0.9) contrast(1.1);
  }
}
